<div class="global-background-container">
  <div class="background-container">
    <div class="game-play-container">
      <!-- Countdown timer goes here -->
      <div class="countdown-container">
        <svg class="countdown-svg" width="100" height="100">
          <circle class="countdown-circle"></circle>
          <text
            class="countdown-text"
            x="50"
            y="50"
            text-anchor="middle"
            dy="0.4em"
          >
            {{ countdown }}
          </text>
        </svg>
      </div>

      <div class="top-buttons">
        <button type="button" (click)="navigateToHome()">Home</button>
        <button type="button" (click)="navigateToConfigure()">
          Game Configuration
        </button>
      </div>

      <h2>Game Play</h2>

      <div *ngIf="showGamePlay">
        <img
          *ngIf="currentTrack?.albumArtUrl"
          [src]="currentTrack.albumArtUrl"
          alt="Album Art"
          class="album-art"
        />

        <app-audio-player></app-audio-player>

        <div class="answers">
          <button
            *ngFor="let answer of answers"
            (click)="onAnswerSelect(answer)"
          >
            {{ answer }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
